<% include ../layout/header %>

<div class="main">
    <div class="container">
        <div class="content">

            <% posts.forEach(function(post){ %>
                <div class="post">
                    <div class="top">
                        <h2>
                            <a href="/posts/<%= post.url %>">
                                <%= post.title %>
                            </a>
                            <% if (post.owner.login === user.login) { %>
                                <a class="edit-link" href="/post/edit/<%= post.id %>">&#9998;</a>
                            <% } %>
                        </h2>
                    </div>
                    <div class="body">
                        <p>
                            <%= post.body %>
                        </p>
                    </div>
                    <div class="bottom">
                        <div class="author">
                            Автор:
                            <a href="/users/<%= post.owner.login %>"><%= post.owner.login %></a>
                        </div>
                        <a href="/posts/<%= post.url %>#<%= post.id %>">
                            Комментарии: <%= post.commentCount %>
                        </a>
                    </div>
                </div>
            <% }); %>

            <div class="pagination">
                <% if (currentPage > 2) { %>
                    <a class="new" href="/archive/<%= Number(currentPage) - 1 %>">&lArr;&nbsp;К новым</a>
                <% }  %>
                <% if (currentPage == 2) { %>
                    <a class="new" href="/">На главную</a>
                <% } %>
                <% if (currentPage > 1) { %>
                    <%= currentPage %>
                <% } %>
                <% if (pages > 0 && currentPage < pages) { %>
                    <a class="old" href="/archive/<%= Number(currentPage) + 1 %>">К старым&nbsp;&rArr;</a>
                <% } else { %>
                    <p>Last page</p>
                <% } %>
            </div>

        </div>

        <% include ../layout/sidebar %>

    </div>
</div>

<% include ../layout/footer %>