<% include ../layout/header %>

<div class="main">
    <div class="container">
        <div class="content">

            <% posts.forEach(function(post){ %>
                <div class="post">
                    <div class="top">
                        <h2>
                            <a href="/posts/<%= post.url %>">
                                <%= post.title %>
                            </a>
                        </h2>
                    </div>
                    <div class="body">
                        <p>
                            <%= post.body %>
                        </p>
                    </div>
                    <div class="bottom">
                        <div class="author">

                        </div>
                        <a href="/">Комментарии</a>
                    </div>
                </div>
            <% }); %>

            <div class="pagination">
                <% if (currentPage > 2) { %>
                    <a class="new" href="/users/<%= _user.login %>/<%= Number(currentPage) - 1 %>">&lArr;&nbsp;К новым</a>
                <% }  %>
                <% if (currentPage == 2) { %>
                    <a class="new" href="/users/<%= _user.login %>">На первую</a>
                <% } %>
                <% if (currentPage > 1) { %>
                    <%= currentPage %>
                <% } %>
                <% if (pages > 0 && currentPage < pages) { %>
                    <a class="old" href="/users/<%= _user.login %>/<%= Number(currentPage) + 1 %>">К старым&nbsp;&rArr;</a>
                <% } else { %>
                    <p>Last page</p>
                <% } %>
            </div>

        </div>

        <% include ../layout/sidebar %>

    </div>
</div>

<% include ../layout/footer %>