* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

textarea,
input,
button {
  outline: none; }

.container {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* Portrait tablets and medium desktops */
@media (min-width: 992px) {
  .container {
    width: 970px; } }

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container {
    width: 100%; } }

html {
  font-size: 0.875em; }

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.45; }

p {
  margin-bottom: 1.3em; }

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small,
.font_small {
  font-size: 0.8em; }

div.success,
p.success,
div.error,
p.error {
  background-color: #edfccc;
  border: 1px solid #87bf0a;
  font-size: 0.8em;
  padding: 7.5px;
  color: #87bf0a;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

div.error,
p.error {
  background-color: #fde1dc;
  border-color: #e82c0c;
  color: #e82c0c; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  form .form-group {
    margin-bottom: 15px; }
    form .form-group label {
      font-size: 0.9em; }

button,
.button {
  color: #fff;
  background-color: #08aef1;
  font-size: 14px;
  border: 1px solid #08aef1;
  cursor: pointer;
  height: 33px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  button:active,
  .button:active {
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2); }
  button:hover,
  .button:hover {
    text-decoration: none; }
  button.inverse,
  .button.inverse {
    color: #08aef1;
    border: 1px solid #08aef1;
    background-color: #fff; }
  button.secondary,
  .button.secondary {
    background-color: #d9ab4d;
    border: 1px solid #d9ab4d; }
  button.secondary-inverse,
  .button.secondary-inverse {
    color: #d9ab4d;
    border-color: #d9ab4d;
    background-color: #fff; }

input,
textarea {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  display: table;
  border-collapse: separate;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 14px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  input:disabled,
  textarea:disabled {
    background-color: #e8e8e8; }
  input:hover,
  textarea:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }
  input:focus,
  textarea:focus {
    border-color: #c8eefd; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    opacity: 0.8;
    font-style: italic; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 0.8;
    font-style: italic; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    opacity: 0.8;
    font-style: italic; }
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    opacity: 0.8;
    font-style: italic; }
  input::placeholder,
  textarea::placeholder {
    opacity: 0.8;
    font-style: italic; }

input {
  height: 36px;
  padding-left: 10px;
  padding-right: 10px; }

textarea {
  padding: 8px 10px;
  min-height: 80px; }

input.error,
textarea.error,
div.error {
  border-color: #e82c0c !important;
  color: #e82c0c; }
  input.error::-webkit-input-placeholder,
  textarea.error::-webkit-input-placeholder,
  div.error::-webkit-input-placeholder {
    color: #f77963; }
  input.error::-moz-placeholder,
  textarea.error::-moz-placeholder,
  div.error::-moz-placeholder {
    color: #f77963; }
  input.error:-ms-input-placeholder,
  textarea.error:-ms-input-placeholder,
  div.error:-ms-input-placeholder {
    color: #f77963; }
  input.error::-ms-input-placeholder,
  textarea.error::-ms-input-placeholder,
  div.error::-ms-input-placeholder {
    color: #f77963; }
  input.error::placeholder,
  textarea.error::placeholder,
  div.error::placeholder {
    color: #f77963; }

a,
.link,
.a {
  color: #08aef1;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s; }
  a:hover,
  .link:hover,
  .a:hover {
    color: palevioletred; }

html {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  color: #333;
  background-color: #fafafa;
  padding-top: 64px; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 49px;
  font-size: 15px;
  background-color: #08aef1;
  opacity: 0.9;
  z-index: 1000; }
  .header .container {
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px 0 15px; }
    .header .container .logo {
      background-image: url("../img/logo.png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      background-position: center;
      width: 120px;
      height: 46px;
      margin-top: 3px; }
    .header .container .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      height: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .container .menu li a {
        color: #fff; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .main .container {
    /* Portrait tablets and small desktops */
    /* Landscape phones and portrait tablets */ }
    .main .container .content {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
          -ms-flex: 3;
              flex: 3;
      margin-right: 15px;
      margin-bottom: 15px;
      min-height: 100px; }
      .main .container .content .pagination {
        font-size: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .main .container .content .pagination a {
          text-decoration: none;
          color: gray;
          -webkit-transition: all ease .3s;
          -o-transition: all ease .3s;
          transition: all ease .3s; }
          .main .container .content .pagination a:hover {
            color: #08aef1; }
    .main .container .sidebar {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .main .container .sidebar .box {
        margin-bottom: 15px;
        padding: 15px;
        width: 100%;
        min-height: 100px;
        border: 1px solid #e8e8e8;
        background-color: #fff;
        -webkit-border-radius: 3px;
                border-radius: 3px; }
        .main .container .sidebar .box ul {
          list-style: none; }
          .main .container .sidebar .box ul li {
            padding: 2px 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      .main .container .content {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-right: 0;
        margin-bottom: 15px; }
      .main .container .sidebar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .main .container .sidebar .box {
          margin-right: 15px; } }
    @media (max-width: 767px) {
      .main .container .content {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-right: 0;
        margin-bottom: 15px; } }
  @media (max-width: 991px) {
    .main .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 49px;
  border-top: 1px solid #e8e8e8;
  background-color: #fff; }
  .footer .container {
    height: 100%;
    line-height: 49px; }

.post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e8e8e8;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .post .top h2 {
    margin-top: 0; }
    .post .top h2 .edit-link {
      color: #000; }
  .post .body p {
    text-align: justify; }
  .post .bottom {
    font-size: 0.9em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.add-post {
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  min-height: 100px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .add-post form h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .add-post form .buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .add-post form .buttons button {
      margin-left: 30px; }
  .add-post form textarea {
    resize: none; }
  .add-post form #post-body {
    min-height: 200px !important;
    background-color: #fff !important;
    border: 1px solid #e8e8e8;
    padding: 8px 10px;
    outline: none; }

.auth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .auth h2 {
    margin-top: 0;
    font-size: 1.7em; }
  .auth form .buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .auth form .buttons button {
      font-size: 13px;
      padding-left: 12px;
      padding-right: 12px; }
  .auth form.register {
    display: none; }

.comments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e8e8e8;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .comments h3 {
    margin-top: 0; }
  .comments form.comment {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    margin-top: 6px; }
    .comments form.comment textarea {
      margin-bottom: 12px; }
    .comments form.comment .buttons {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .comments form.comment .buttons button {
        margin-left: 15px;
        height: 24px; }
  .comments .comment-list > ul {
    margin-bottom: 19.5px; }
  .comments .comment-list ul {
    list-style: none;
    border-left: 1px solid grey;
    padding-left: 18px; }
    .comments .comment-list ul:first-child {
      padding-left: 0;
      border-left: none; }
    .comments .comment-list ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 15px; }
      .comments .comment-list ul li .head {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .comments .comment-list ul li .head .date {
          margin-left: 7px;
          font-style: italic;
          color: #999; }
      .comments .comment-list ul li.new-comment {
        background-color: rgba(252, 245, 171, 0.3); }
