<% if (items.length) { %>
<ul>
    <% } %>

    <% items.forEach(function(item){ %>
        <li id="<%= item.id %>">
            <div class="head">
                <a href="/users/<%= item.owner.login %>">
                    <%= item.owner.login %>
                </a>
                <span class="date">
                    <%= moment(item.createdAt).fromNow() %>
                </span>
            </div>
            <%= item.body %>
            <span class="link reply">ответить</span>

            <%- include('./comments.ejs', {items: item.children}) %>
        </li>
    <% }) %>

    <% if (items.length) { %>
</ul>
<% } %>