.comments {
  display: flex;
  flex-direction: column;
  border: 1px solid $greyColor;
  padding: $freeSpace;
  margin-bottom: $freeSpace;
  background-color: $whiteColor;
  border-radius: $borderRadius;

  h3 {
    margin-top: 0;
  }

  form.comment {
    display: none;
    flex-direction: column;
    max-width: 500px;
    margin-top: $freeSpace * 0.4;

    textarea {
      margin-bottom: $freeSpace * 0.8;
    }

    .buttons {
      align-self: flex-end;
      display: flex;

      button {
        margin-left: $freeSpace;
        height: 24px;
      }
    }
  }

  .comment-list {
    >ul {
      margin-bottom: $freeSpace * 1.3;
    }
    ul {
      list-style: none;
      border-left: 1px solid grey;
      padding-left: $freeSpace * 1.2;

      &:first-child {
        padding-left: 0;
        border-left: none;
      }

      li {
        display: flex;
        flex-direction: column;
        margin-top: $freeSpace;

        .head {
          display: flex;

          .date {
            margin-left: 7px;
            font-style: italic;
            color: #999;
          }
        }

        &.new-comment {
          background-color: rgba(252, 245, 171, .3);
        }
      }
    }
  }
}